use_guix-shell() {
  CHANNEL_FILE=channels.scm
  if [ -f $CHANNEL_FILE ]; then
    eval "$(guix time-machine -C $CHANNEL_FILE -- shell "$@" -- bash -c 'echo export GUIX_ENVIRONMENT=${GUIX_ENVIRONMENT}')"
    eval "$(guix time-machine -C $CHANNEL_FILE -- shell "$@" --search-paths)"
  else
    eval "$(guix shell "$@" -- bash -c 'echo export GUIX_ENVIRONMENT=${GUIX_ENVIRONMENT}')"
    eval "$(guix shell "$@" --search-paths)"
  fi
}

use guix-shell -m manifest.scm

# TODO: currently the following needs to be set to allow the linker to find avr-libc
# See: https://issues.guix.gnu.org/69394
export CROSS_LIBRARY_PATH=$GUIX_ENVIRONMENT/avr/lib/
